head {}

body {
  font-family: "Segoe UI", "Verdana", sans-serif;
  background-color: #222;
  padding-left: 30px;
  text-align: justify;
}

h1 {
  color: #f45531;
}

h2 {
  color:#21ce99;
}

h3 {}

.navBar {
  float: left;
}

.content {
  width: 100%;
}

.info {
  float: right;
  width: 40%;
}

#pomdesc {
  width: 45%;
  float: left;
}

#serverinfo {
  width: 45%;
  float: right;
  padding-right: 15px;
}

#serverspecs {
  width: 60%;
  float: left;
  margin-left: none;
}

#double-left {
  width: 40%;
  text-align: justify;
  float: left;
}
#quarter-left-left {
  width: 45%;
  text-align: inherit;
  float: left;
}
#quarter-left-right {
  width: 45%;
  text-align: inherit;
  float: right;
}
#double-right {
  width: 40%;
  text-align: justify;
  float: right;
  padding-right: 40px;
}

#quarter-right-left {
  width: 45%;
  text-align: inherit;
  float: left;
}
#quarter-right-right {
  width: 45%;
  text-align: inherit;
  float: right;
}
#keyword {
  font-weight: 800;
  color: #f45531;
}
#serverinfokw {
color: #f45531;
}

p {
  color: white;
  font-size: 1.2em;
  font-weight: 500
}
P::after {
  margin: none;
  padding: none;
}
a {
  text-decoration: none;
  color: #f45531;
  font-size: 1.3em;
  font-weight: 500;
  padding-right: 15px;
}


a:link {}

a:hover {
  text-decoration: underline;
}

a:visited {}

a:active {}
